<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Incluye Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <form id="createOrderForm" action="/pedidos" method="post" onsubmit="handleAdd(event)">
      <div class="card mt-4">
        <div class="card-header text-center bg-secondary text-white" id="agregarReplicaModalLabel">
          <h1>Crear pedido de replicación</h1>
        </div>
        <div class="card-body">
          {{!-- BARRA DE NAVEGACION --}}
          <div class="container">
            <div class="row">
              <div class="col" class="tab-content" id="myTabContent">
                {{!-- tab contenido --}}
                <div class="" id="externo">
                  <label class="col form-group" id="Example">
                    <label class="font-weight-bold" for="cliente">Cliente:</label>
                    <select name="cliente" id="listadoClientes" class="form-control">
                      <option value="Interno"><i>Interno</i></option>
                      {{#each clientes}}
                      <option value="{{this.Persona.id}}"> {{ this.Persona.nombre }}
                        {{this.Persona.apellido}} {{this.Persona.identificacion}} </option>
                      {{/each}}
                    </select>
                    <label class="font-weight-bold" for="descripcion">Descripción:</label>
                    <input disabled class="cliente form-control" type="text" name="descripcion"
                      placeholder="Solamente necesario para pedidos con clientes" />
                    <label for="monto">Monto:</label>
                    <input disabled class="cliente form-control" type="number" name="monto"
                      placeholder="Solamente necesario para pedidos con clientes" min="0" />
                    <br>
                    <label class="font-weight-bold" for="monto">Monto:</label>
                    <br>
                    <input required type="radio" name="moneda" value="Pesos Argentinos">Pesos Argentinos
                    <br>
                    <input type="radio" name="moneda" value="Dólares">Dólares Americanos
                    <br>
                    <input type="radio" name="moneda" value="Euros">Euros
                    <br>
                    <br>
                    <label class="font-weight-bold" for="finoferta">Fin De Oferta: <i>solamente requerido para pedidos
                        con
                        cliente</i></label>
                    <input disabled class="cliente form-control {{#if isInterno}}interno{{/if}}" type="date"
                      name="finoferta" id="InpuFinOferta" {{#if isInterno}}required{{/if}} />
                  </label>
                </div>
              </div>
              <div class="col-6 pb-3">
                {{!-- Dinosaurio --}}
                <div class="form-group">
                  <h3>Seleccione Dinosaurio</h3>
                  <select class="form-control" name="dinosaurio" onchange="buscarHuesos()" id="selectHueso" required>
                    {{!-- @TODO traer dinos --}}
                    <option value="" selected aria-required="true">Seleccione un Dinosaurio
                    </option>
                    {{#each dinosaurios}}
                    <option value="{{ this.id }}">{{ this.nombre }}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group">
                  <h3>Seleccione huesos</h3>
                  <label for="Total">
                    <button type="button" class="btn btn-primary" id="total">
                      Seleccionar Todo
                    </button>
                    <button type="button" class="btn btn-danger" id="resetear">
                      Reset
                    </button>
                  </label>
                  <div class="container border">
                    <div class="row">
                      <div class="col-sm border" style="height: 21vh; overflow: auto">
                        <label for="huesos" id="listaHuesos">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- Botón de Crear Pedido de Replicación-->
            <div class="row justify-content-center">
              <div class="col-6 text-center">
                <button type="submit" class="btn btn-success btn-sm btn-block">Crear Pedido de
                  Replicación</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal para el mensaje emergente -->
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalLabel">Agregado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          El pedido de replicación fue creado exitosamente.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Incluye jQuery y Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <script>
    function handleAdd(event) {
      event.preventDefault();

      // Realiza la petición POST usando Fetch API
      fetch(event.target.action, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams(new FormData(event.target))
      }).then(response => {
        if (response.ok) {
          // Abre el modal
          $('#alertModal').modal('show');

          // Redirige al listado de pedidos después de cerrar el modal
          $('#alertModal').on('hidden.bs.modal', function () {
            window.location.href = '/pedidos'; // Redirige a la URL específica
          });
        } else {
          // Maneja el error si la petición falla
          alert('Error al crear el pedido.');
        }
      }).catch(error => {
        // Maneja errores de la petición
        console.error('Error:', error);
        alert('Ocurrió un error.');
      });
    }
  </script>
</body>

</html>

<script>
  $(document).ready(() => {
    function controlarSubmit() {
      const MIN_CANT_HUESOS = 1
      const huesosSeleccionados = $('input:checkbox:checked').length;
      if (huesosSeleccionados < MIN_CANT_HUESOS) {
        return $(':submit').prop('disabled', true);
      }
      return $(':submit').prop('disabled', false);
    }
    $("#form").change(function (event) {
      controlarSubmit()

    })
    // Función para manejar cambios en el cliente
    function handleClienteChange() {
      // Desseleccionar la moneda cuando el cliente vuelve a ser interno
      if ($('#listadoClientes').val() === "Interno") {
        $("[name='moneda']").prop("checked", false);
        $(".cliente").each(function () {
          this.disabled = true;
          this.required = false;
        });
        // Deshabilitar radio buttons de moneda
        $("[name='moneda']").prop("disabled", true);
      } else {
        $(".cliente").each(function () {
          this.disabled = false;
          this.required = true;
        });
        // Habilitar radio buttons de moneda
        $("[name='moneda']").prop("disabled", false);
      }
    }
    // Manejar el cambio de cliente al cargar la página
    handleClienteChange();
    // Manejar el cambio de cliente cuando se selecciona
    $('#listadoClientes').change(function () {
      handleClienteChange();
    });
    //https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html
    $("#total").click(function (ev) {
      $("[name='hueso']").each(function () {
        this.checked = true
      })
      controlarSubmit()
    })
    $("#resetear").click(function (ev) {
      $("[name='hueso']").each(function () {
        this.checked = false
      })
      controlarSubmit()
    })
  });
</script>

<script>
  //https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
  let e = document.getElementById("selectHueso");
  e.addEventListener("change", buscarHuesos);
  function buscarHuesos() {
    let dinoId = e.options[e.selectedIndex].value;
    fetch(`/dinosaurios/huesos/${dinoId}`, { mode: "cors" })
      .then((res) => {
        return res.json()
      })
      .then((json) => {
        let arr = [];
        let contenedor = document.getElementById("listaHuesos");
        contenedor.innerHTML = "";
        const entries = Object.entries(json)
        for (var key in json) {
          arr.push(generateCheckbox(json[key].id, json[key].nombre, json[key].numero))
        }
        let htmlParseado = arr.toString().split(',').join('')
        contenedor.innerHTML = htmlParseado
      })
      .catch((err) => {
        console.log(err)
      })
  }
  function generateCheckbox(id, nombre, numero) {
    return `<input type="checkbox" name="hueso" value="${id}">${nombre} #${numero} <br>`;
  }
</script>

<script>
  // setea la fecha actual como fecha mínima de "fin de oferta" 
  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InpuFinOferta").setAttribute("min", hoy);
    $("#InpuFinOferta").attr("min", hoy);
  })
  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;
    return [year, month, day].join('-');
  }
</script>

<script>
  // https://stackoverflow.com/questions/22238368/how-can-i-require-at-least-one-checkbox-be-checked-before-a-form-can-be-submitte
  $(document).ready(function () {
    $('#submitForm').click(function () {
      checked = $("input[type=checkbox]:checked").length;
      if (!checked) {
        return false;
      }
    });
  });
</script>