<div class="container">
  <form action="/pedidos" method="post">
    <div class="card mt-4">
      <div class="card-header text-center bg-secondary text-white" id="agregarReplicaModalLabel">
        <h1>Crear pedido de replicación</h1>
      </div>
      <div class="card-body">
        {{!-- BARRA DE NAVEGACION --}}
        <div class="container">
          <div class="row">
            <div class="col" class="tab-content" id="myTabContent">
              {{!-- Hola tab contenido --}}
              <div class="" id="externo">
                <label class="col form-group" id="Example">
                  <label class="font-weight-bold" for="cliente">Cliente:</label>

                  <select name="cliente" id="listadoClientes" class="form-control">
                    <option value="Interno"><i>Interno</i></option>
                    {{#each clientes}}
                    <option value="{{this.Persona.id}}"> {{ this.Persona.nombre }}
                      {{this.Persona.apellido}} {{this.Persona.identificacion}} </option>
                    {{/each}}
                  </select>

                  <label class="font-weight-bold" for="descripcion">Descripción:</label>
                  <input disabled class="cliente form-control" type="text" name="descripcion"
                    placeholder="Solamente necesario para pedidos con clientes" />
                  <label for="monto">Monto:</label>
                  <input disabled class="cliente form-control" type="number" name="monto"
                    placeholder="Solamente necesario para pedidos con clientes" min="0" />
                  <label for="moneda">Moneda</label>
                  <input disabled class="cliente" type="radio" name="moneda" value="Pesos Argentinos">Pesos Argentinos
                  <input type="radio" name="moneda" value="Dolares">Dolares Americanos
                  <input type="radio" name="moneda" value="Euros">Euros

                  <label for="fin-oferta">Fin de Oferta: <i>solamente requerido para pedidos con cliente</i></label>
                  <input disabled class="cliente form-control" type="date" name="finoferta" id="InpuFinOferta" />
                </label>
              </div>
            </div>
            <div class="col-6 pb-3">
              {{!-- Hola Dinosaurio --}}
              <div class="form-group">
                <h3>Seleccione Dinosaurio</h3>
                <select class="form-control" name="dinosaurio" onchange="buscarHuesos()" id="selectHueso" required>
                  {{!-- @TODO traer dinos --}}
                  <option value="" selected aria-required="true">Seleccione un Dinosaurio
                  </option>
                  {{#each dinosaurios}}
                  <option value="{{ this.id }}">{{ this.nombre }}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <h3>Seleccione huesos</h3>
                <label for="Total">

                  <button type="button" class="btn btn-primary" id="total">
                    Seleccionar Todo
                  </button>
                  <button type="button" class="btn btn-danger" id="resetear">
                    Reset
                  </button>
                </label>
                <div class="container border">
                  <div class="row">
                    <div class="col-sm border" style="height: 21vh; overflow: auto">
                      <label for="huesos" id="listaHuesos">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group btn btn-block">
          <button class="btn btn-success btn-block" type="submit" id="submitForm">Agregar Pedido de Replicación</button>
          </div>
          <div class="form-group btn btn-block">
            <a href="/pedidos" class="btn btn-danger btn-block">Cancelar</a>
          </div>
        </div>
      </div>
  </form>
</div>

<div class="fixed-bottom d-flex justify-content-end mr-3 mb-3">
  <a href="/" class="btn btn-primary">Menú Principal</a>
</div>





<script>
  $(document).ready(() => {
    $('#listadoClientes').change(function () {
      if (this.value === "Interno") {
        $(".cliente").each(function () {
          this.disabled = true;
          this.required = false;
        })
      } else {
        $(".cliente").each(function () {
          this.disabled = false;
          this.required = true;
        })
      }

    })
  });
</script>


<script>
  //https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
  let e = document.getElementById("selectHueso");
  e.addEventListener("change", buscarHuesos);

  function buscarHuesos() {
    let dinoId = e.options[e.selectedIndex].value;
    fetch(`/dinosaurios/huesos/${dinoId}`, { mode: "cors" })
      .then((res) => {
        return res.json()
      })
      .then((json) => {
        let arr = [];
        let contenedor = document.getElementById("listaHuesos");
        contenedor.innerHTML = "";
        const entries = Object.entries(json)
        for (var key in json) {
          arr.push(generateCheckbox(json[key].id, json[key].nombre, json[key].numero))
        }
        let htmlParseado = arr.toString().split(',').join('')
        contenedor.innerHTML = htmlParseado
      })
      .catch((err) => {
        console.log(err)
      })
  }

  function generateCheckbox(id, nombre, numero) {
    return `<input type="checkbox" name="hueso" value="${id}">${nombre} #${numero} <br>`;
  }
</script>

<script>
  //https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html
  $("#total").click(function (ev) {
    $("[name='hueso']").each(function () {
      this.checked = true
    })
  })
  $("#resetear").click(function (ev) {
    $("[name='hueso']").each(function () {
      this.checked = false
    })
  })
</script>

<script>
  // setea la fecha actual como fecha mínima de "fin de oferta" 
  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InpuFinOferta").setAttribute("min", hoy);
    $("#InpuFinOferta").attr("min", hoy);
  })

  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;

    return [year, month, day].join('-');
  }
</script>

<script>
  // https://stackoverflow.com/questions/22238368/how-can-i-require-at-least-one-checkbox-be-checked-before-a-form-can-be-submitte
  $(document).ready(function () {
    $('#submitForm').click(function () {
      checked = $("input[type=checkbox]:checked").length;
      if (!checked) {
        return false;
      }
    });
  });
</script>