<h1>Detalle de Pedido#{{id}} : {{dinosaurio.nombre}}</h1>

<div class="container">
  <div class="row border" style="min-height: 2rem;">
    <div class="col">
      <b>Estado Actual:</b> {{estadoInstance}}
    </div>
  </div>
  <div class="row border" style="min-height: 2rem;">
    <div class="col">
      <b>Cliente:</b>
      {{#with pedido.Persona}}
        {{nombre}} {{apellido}}
      {{else}}
        <i>Interno</i>
      {{/with}}
    </div>
    {{#with presupuestado}}
        <div class="col ">
          <b>Monto:</b> {{monto}}
        </div>
        <div class="col">
          <b>Moneda:</b> {{moneda}}
        </div>    
        <div class="col ">
          <b>Fin de oferta:</b> {{ fecha_fin_oferta }}
        </div>    
      {{/with}}
      {{#with dinosaurio}}
        <div class="col "><b>Dinosaurio:</b>{{ nombre }}</div>
      {{/with}}
  </div>

  <div class="row border" >
    <div class="col border">
      <b>Huesos del pedido</b>
      <div style="max-height: 50vh; overflow:auto;">
      <table class="table" id="">
        <thead>
          <th>N°</th>
          <th>Hueso</th>
        </thead>
        <tbody>
          {{#each detalles}}
          <tr>
            <td>{{ Hueso.numero }}</td>
            <td>{{ Hueso.nombre }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="row border">
    <div class="col border">
      <b>Registro de cambios</b>
      <table class="table">
        <thead>
          <th>Estado</th>
          <th>Fecha de cambio</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          {{#each estados}}
          <tr>
            <td>{{ estadoInstance }}</td>
            <td>{{ fecha}}</td>
            <td>
              <button class="btn btn-primary" id="button-info">info</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('#button-info').click(function () {
      $('#content').text();
    });
  });
</script>