<h1 class="mt-4">Pedido de Replicación Nº {{id}} - Finalizar Pedido</h1>

<form action="/pedidos/{{accion}}/{{id}}" method="post">

  <p>Fecha de Inicio Estimada: {{estado.dataValues.inicio_estimada}}</p><!--Faltaría darle formato dd/mm/aaaa -->

  <div class="my-4">Fecha Finalización de Replica</div>
  <input class="form-control" type="date" name="fecha_fin" id="InputFechaFinalizacion"
    min="{{ estado.dataValues.inicio_estimada }}" required>
  <small>* La fecha de Finalización debe ser igual o mayor a la de Inicio
    Estimada.</small><br>
  <br>
  <!-- Botón de Finalizar -->
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <button type="submit" class="btn btn-success btn-lg">Finalizar</button>
    </div>
  </div>
</form>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content modal-xl">
      <!-- Modal body -->
      <div class="modal-body">
        {{> replica/detalle detalles}}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>