<div class="form-group" id="form-empleado">
    <label for="InputNombre">Documento</label>
    <input type="text" class="form-empleado form-control" name="identificacion" id="InputIdentificacion" placeholder="Ingrese su documentos" required  {{#if this}} value="{{this.tipo }}" {{/if}} >
    
    <label for="InputNombre">Nombre</label>
    <input type="text" class="form-empleado form-control" name="nombre" id="InputNombre" placeholder="Ingrese Nombre" required  {{#if this}}value="{{this.nombre}}" {{/if}}>
    
    <label for="InputApellido">Apellido</label>
    <input type="text" class="form-empleado form-control" name="apellido" id="InputApellido" placeholder="Ingrese Apellido" required  {{#if this}}value="{{this.apellido}}" {{/if}}>
    
    <label for="InputDireccion">Dirección</label>
    <input type="text" class="form-empleado form-control" name="direccion" id="InputDireccion" placeholder="Ingrese Dirección" required  {{#if this}}value="{{this.direccion}}" {{/if}}>
    
    <label for="InputLocalidad">Localidad</label>
    <input type="text" class="form-empleado form-control" name="localidad" id="InputLocalidad" placeholder="Ingrese Localidad" required  {{#if this}}value="{{this.localidad}}" {{/if}}>

    <label for="InputEmail">Correo Electrónico</label>
    <input type="email" class="form-empleado form-control" name="email" id="InputEmail" placeholder="Ingrese Correo Electrónico" required  {{#if this}}value="{{this.email}}" {{/if}}>
    
    <label for="InputFechaNacimiento">Fecha Nacimiento</label>
    <br>
    <input type="date" class="form-empleado form-control" name="fecha_nacimiento" id="InputFechaNacimiento" required {{#if this}}value="{{this.fecha_nacimiento}}" {{/if}}>
    
    <br>
    <label for="InputTelefono">Teléfono</label>
    <small>xxx - xx - xxx</small>
    <input type="tel" class="form-empleado form-control" name="telefono" id="InputTelefono"  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Ingrese Teléfono" required  {{#if this}}value="{{this.telefono}}" {{/if}}>

    {{#if this}}<input name="id" type="number" value="{{this.id}}" hidden> {{/if}}
        
</div>