<div class="form-group" id="form-cliente">
    <label for="InputNombre">Documento</label>
    <input type="text" class="form-cliente form-control" name="identificacion" id="InputIdentificacion" placeholder="Ingrese su documentos" required  {{#if this}} value="{{this.Persona.identificacion }}" {{/if}} >
    
    <label for="InputNombre">Nombre</label>
    <input type="text" class="form-cliente form-control" name="nombre" id="InputNombre" placeholder="Ingrese Nombre" required  {{#if this}}value="{{this.Persona.nombre}}" {{/if}}>
    
    <label for="InputApellido">Apellido</label>
    <input type="text" class="form-cliente form-control" name="apellido" id="InputApellido" placeholder="Ingrese Apellido" required  {{#if this}}value="{{this.Persona.apellido}}" {{/if}}>
    
    <label for="InputDireccion">Direccion</label>
    <input type="text" class="form-cliente form-control" name="direccion" id="InputDireccion" placeholder="Ingrese Direccion" required  {{#if this}}value="{{this.Persona.direccion}}" {{/if}}>
    
    <label for="InputLocalidad">Localidad</label>
    <input type="text" class="form-cliente form-control" name="localidad" id="InputLocalidad" placeholder="Ingrese Localidad" required  {{#if this}}value="{{this.Persona.localidad}}" {{/if}}>

    <label for="InputEmail">Email</label>
    <input type="email" class="form-cliente form-control" name="email" id="InputEmail" placeholder="Ingrese Email" required  {{#if this}}value="{{this.Persona.email}}" {{/if}}>
    
    <label for="InputFechaNacimiento">Fecha Nacimiento</label>
    <br>
    <input type="date" class="form-cliente form-control" name="fecha_nacimiento" id="InputFechaNacimiento" required {{#if this}}value="{{this.Persona.fecha_nacimiento}}" {{/if}}>
    <br>
    <label for="InputTelefono">Telefono</label>
    <input type="tel" class="form-cliente form-control" name="telefono" id="InputTelefono"  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Ingrese Telefono" required  {{#if this}}value="{{this.Persona.telefono}}" {{/if}}>

    <div class="row">
        <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipoCliente"  value="Particular" autocomplete="off" required > Particular
    </label>

    <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipoCliente"  value="Institucional" autocomplete="off" > Institucional
    </label>
    </div>

    {{#if this}}<input name="idCliente" type="number" value="{{this.id}}" hidden> {{/if}}
    
    {{#if this}}<input name="idPersona" type="number" value="{{this.Persona.id}}" hidden> {{/if}}

</div>