<div class="container">
  <form action="/visitas" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-secondary text-white" id="agregarVisitaModalLabel">
        <h1>Agregar Visita</h1>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6 pb-2">
              <label class="font-weight-bold" for="exhibicionId">Exhibición</label>
              <select class="form-control" name="exhibicionId" placeholder="Ingrese Exhibición" required>
                {{#each exhibiciones}}
                <option value="{{this.id}}">{{this.tematica}} | {{this.nombre}}</option>
                {{else}}
                <option value="">No hay exhibiciones disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Exhibición elegida.</small><br>
              <label class="font-weight-bold" for="clienteId">Cliente</label>
              <select class="form-control" name="clienteId" placeholder="Ingrese Cliente" required>
                {{#each clientes}}
                <option value="{{this.id}}">{{this.Persona.identificacion}} | {{this.Persona.nombre}}
                  {{this.Persona.apellido}}</option>
                {{else}}
                <option value="">No hay clientes disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Cliente que solicita la visita.</small><br>
              <label class="font-weight-bold" for="guiaId">Guía</label>
              <select class="form-control" name="guiaId" placeholder="Ingrese Guía" required>
                {{#each guias}}
                <option value="{{this.id}}">{{this.Persona.identificacion}} | {{this.Persona.nombre}}
                  {{this.Persona.apellido}}</option>
                {{else}}
                <option value="">No hay guías disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Guía encargado de la visita.</small><br>
              <label class="font-weight-bold" for="cantidadPersonas">Cantidad de Personas</label>
              <input type="number" class="form-control" name="cantidadPersonas" min="1" max="300"
                placeholder="Ingrese Cantidad de Personas" required>
              <small class="form-text-muted text-muted">Mínimo 1 persona. Máximo 300.</small>
            </div>
            <div class="col-6">
              <label class="font-weight-bold" for="fecha">Fecha</label>
              <input type="date" class="form-control" id="fechaVisita" name="fecha" placeholder="Ingrese Fecha"
                required>
              <small class="form-text-muted text-muted">Fecha de la visita guiada. La visita debe ser igual o posterior
                a hoy</small><br>
              <label class="font-weight-bold" for="email">Horario</label>
              <select class="form-control" name="horario" required>
                <option value="9">
                  09:00hs
                </option>
                <option value="10">
                  10:00hs
                </option>
                <option value="11">
                  11:00hs
                </option>
                <option value="12">
                  12:00hs
                </option>
                <option value="13">
                  13:00hs
                </option>
                <option value="14">
                  14:00hs
                </option>
                <option value="15">
                  15:00hs
                </option>
                <option value="16">
                  16:00hs
                </option>
                <option value="17">
                  17:00hs
                </option>
                <option value="18">
                  18:00hs
                </option>
              </select>
              <small class="form-text-muted text-muted">Horario de la visita guiada.</small><br>
              <label class="font-weight-bold" for="precio">Precio</label>
              <input class="form-control" type="number" name="precio" min="1" max="3000000"
                placeholder="Ingrese el Precio de la Visita Guiada" required>
              <small class="form-text-muted text-muted">Mínimo $1. Máximo $3.000.000 (Pesos Argentinos)</small>
            </div>
          </div>
          <!-- Botón de Agregar -->
          <div class="form-group">
            <div class="row justify-content-end">
              <div class="col-6">
                <button type="submit" class="btn btn-success btn-sm btn-block">Agregar Visita Guiada</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

<script>
  //Ponemos fecha mínima "mañana" porque si ponemos "hoy" puede haber problemas en el horario, si ponemos una hora de "hoy" que ya pasó. 
  $(document).ready(function () {
    const manana = calcularFechaManana();
    document.getElementById("fechaVisita").setAttribute("min", manana);
  })
  // Setea la fecha de mañana como la fecha mínima de la visita.
  function calcularFechaManana() {
    const mañana = new Date();
    mañana.setDate(mañana.getDate() + 1);
    return formatDate(mañana);
  }
  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;
    return [year, month, day].join('-');
  }
</script>