<div class="container">
  <form action="/visitas?_method=PUT" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-secondary text-white" id="agregarVisitaModalLabel">
        <h1>Editar Visita #{{visita.id}}</h1>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6 pb-2">

              <!--Lista de exhibiciones-->
              <label class="font-weight-bold" for="exhibicionId">Exhibición</label>
              <select class="form-control" name="exhibicionId" placeholder="Ingrese Exhibición" required>
                <option value="{{visita.ExhibicionId}}" selected> {{visita.Exhibicion.tematica}} |
                  {{visita.Exhibicion.nombre}}</option>
                {{#each exhibiciones}}
                <option value="{{this.id}}">{{this.tematica}} | {{this.nombre}}</option>
                {{else}}
                <option value="">No hay exhibiciones disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Exhibición elegida.</small><br>

              <!--Lista de Clientes-->
              <label class="font-weight-bold" for="clienteId">Cliente</label>
              <select class="form-control" name="clienteId" placeholder="Ingrese Cliente" required>
                <option value="{{visita.ClienteId}}">{{visita.Cliente.Persona.identificacion}} |
                  {{visita.Cliente.Persona.nombre}} {{visita.Cliente.Persona.apellido}}</option>
                {{#each clientes}}
                <option value="{{this.id}}">{{this.Persona.identificacion}} | {{this.Persona.nombre}}
                  {{this.Persona.apellido}}</option>
                {{else}}
                <option value="">No hay clientes disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Cliente que solicita la visita.</small><br>

              <!--Lista de Guías-->
              <label class="font-weight-bold" for="guiaId">Guía</label>
              <select class="form-control" name="guiaId" placeholder="Ingrese Guia" required>
                <option value="{{visita.GuiumId}}" selected>{{visita.Guium.Persona.identificacion}} |
                  {{visita.Guium.Persona.nombre}} {{visita.Guium.Persona.apellido}}</option>
                {{#each guias}}
                <option value="{{this.id}}">{{this.Persona.identificacion}} | {{this.Persona.nombre}}
                  {{this.Persona.apellido}}</option>
                {{else}}
                <option value="">No hay guías disponibles</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Guía encargado de la visita.</small><br>

              <!--Cantidad de personas-->
              <label class="font-weight-bold" for="cantidadPersonas">Cantidad de Personas</label>
              <input type="hidden" name="idVisitaEditar" value="{{visita.id}}">
              <input type="number" class="form-control" name="cantidadPersonas" min="1" max="300"
                placeholder="Ingrese Cantidad de Personas" value="{{visita.cantidadDePersonas}}" required>
              <small class="form-text-muted text-muted">Mínimo 1 persona. Máximo 300.</small>
            </div>
            <div class="col-6">

              <!--Fecha-->
              <label class="font-weight-bold" for="fecha">Fecha</label>
              <input type="date" class="form-control" id="fechaVisita" name="fecha" placeholder="Ingrese Fecha"
                value="{{visita.fechaVisita}}" required>
              <small class="form-text-muted text-muted">Fecha de la visita guiada. La visita debe ser igual o posterior
                a hoy</small><br>
              <div class="form-group">
                <label class="font-weight-bold" for="horario">Horario</label>
                <select class="form-control" name="horario">
                  <option value="{{visita.horario}}" selected>{{visita.horario}}</option>
                  {{#each horariosDisponibles}}
                  <option value="{{this}}">{{this}}</option>
                  {{else}}
                  <option value="" disabled>No hay horarios disponibles</option>
                  {{/each}}
                </select>
                <small class="form-text-muted text-muted">Horario de la visita guiada.</small>
              </div>
              <!--Precio-->
              <label class="font-weight-bold" for="precio">Precio</label>
              <input class="form-control" type="number" name="precio" min="1" max="3000000" value="{{visita.precio}}"
                placeholder="Ingrese el Precio de la Visita Guiada" required>
              <small class="form-text-muted text-muted">Mínimo $1. Máximo $3.000.000 (Pesos Argentinos)</small>
              <br>

              <!--Estado-->
              <label class="font-weight-bold" for="estado">Estado</label>
              <select class="form-control" name="estado" required>
                <option value="Pendiente" id="pendiente">Pendiente</option>
                <option value="Finalizada" id="finalizada">Finalizada</option>
                <option value="Cancelada" id="cancelada">Cancelada</option>
              </select>
              <small class="form-text-muted text-muted">Estado de la visita guiada.</small><br>
            </div>
          </div>
          <br>

          <!--Observación-->
          <label class="font-weight-bold" for="estado">Observación</label>
          <textarea class="form-control"
            placeholder="Si la visita no es particular, ingrese la escuela, universidad u organización solicitante."
            name="observacion" rows="5">{{visita.observacion}}</textarea>
          <small class="form-text-muted text-muted">Organización que solicita la visita guiada.</small><br>
          <br>

          <!--Botón de Guardar--->
          <div class="row justify-content-center">
            <div class="col-6 text-center">
              <input type="hidden" name="id" value="{{visita.id}}">
              <button type="submit" class="btn btn-success btn-sm btn-block">Editar Visita</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  //Ponemos fecha mínima "mañana" porque si ponemos "hoy" puede haber problemas en el horario, si ponemos una hora de "hoy" que ya pasó. 
  $(document).ready(function () {
    const manana = calcularFechaManana();
    document.getElementById("fechaVisita").setAttribute("min", manana);

    // when #fechaVisita changes, update #horario options
    $("#fechaVisita").change(function () {
      const fecha = $(this).val();
      console.log('fecha', fecha);  
      $.ajax({
        url: `/visitas/validar?fecha=${fecha}`,
        success: function (horarios) {
          console.log('horarios', horarios);
          //const $horario = $("select[name='horario']");
          //$horario.empty();
          //if (horarios.length === 0) {
          //  $horario.append($("<option>").attr("disabled", true).text("No hay horarios disponibles"));
          //} else {
          //  horarios.forEach(horario => {
           //   $horario.append($("<option>").val(horario).text(horario));
           // });
          //}
        }
      });
    });
  })
  // Setea la fecha de mañana como la fecha mínima de la visita.
  function calcularFechaManana() {
    const mañana = new Date();
    mañana.setDate(mañana.getDate() + 1);
    return formatDate(mañana);
  }
  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;
    return [year, month, day].join('-');
  }



    $(document).ready(function () {
    var estadoVisita = "{{ visita.estado }}";
    if (estadoVisita === "Pendiente") {
      $("#pendiente").attr("selected", "selected");
    } else if (estadoVisita === "Finalizada") {
      $("#finalizada").attr("selected", "selected");
    } else if (estadoVisita === "Cancelada") {
      $("#cancelada").attr("selected", "selected");
    }
  });
</script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--Script que oculta la EXHIBICIÓN actual de la visita para que no se vea repetido entre las opciones.-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
      // Mostrar todas las opciones
      $("select[name='exhibicionId'] option").css("display", "");

    // Ocultar la opción seleccionada
    $("select[name='exhibicionId'] option:selected").css("display", "none");
  });
</script>

<!--Script que oculta al CLIENTE actual de la visita para que no se vea repetido entre las opciones.-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
      // Mostrar todas las opciones
      $("select[name='clienteId'] option").css("display", "");

    // Ocultar la opción seleccionada
    $("select[name='clienteId'] option:selected").css("display", "none");
  });
</script>

<!--Script que oculta al GUÍA actual de la visita para que no se vea repetido entre las opciones.-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
      // Mostrar todas las opciones
      $("select[name='guiaId'] option").css("display", "");

    // Ocultar la opción seleccionada
    $("select[name='guiaId'] option:selected").css("display", "none");
  });
</script>

<!--Script que oculta al HORARIO actual de la visita para que no se vea repetido entre las opciones.-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
      // Mostrar todas las opciones
      $("select[name='horario'] option").css("display", "");

    // Ocultar la opción seleccionada
    $("select[name='horario'] option:selected").css("display", "none");
  });
</script>