<h1>Eliminar Cliente</h1>
<div class="alert alert-danger mt-4">Seguro que queres borrar esto ?</div>
 <table class="table">
     <thead>
        <th scope="col">Exhibición</th>    
        <th scope="col">Cliente</th>
        <th scope="col">Guía</th>
        <th scope="col">Cantidad de Personas</th>
        <th scope="col">Fecha</th>
        <th scope="col">Horario</th>
        <th scope="col">Precio</th>
        </thead>
    <tbody>
        <tr>
            <td>{{visita.Exhibicion.tematica}} | {{visita.Exhibicion.nombre}}</td>    
            <td>{{visita.Cliente.Persona.identificacion}} | {{visita.Cliente.Persona.nombre}} {{visita.Cliente.Persona.apellido}}</td>
            <td>{{visita.Guium.Persona.identificacion}} | {{visita.Guium.Persona.nombre}} {{visita.Guium.Persona.apellido}}</td>
            <td>{{visita.cantidadDePersonas}}</td>
            <td>{{visita.fechaVisita}}</td>
            <td>{{visita.horario}}</td>
            <td>{{visita.precio}}</td>
        </tr>
    </tbody>
 </table>

<form action="/visitas?_method=DELETE" method="POST" >
<input name="id" type="number" value="{{visita.id}}" hidden required>
<button type="submit" class="btn btn-danger">Eliminar</button>
<a href="/visitas" class="btn btn-primary">No</a>
</form>
