<div style="padding-top: 10px"></div>
<h1>Visitas guiadas <a href="/visitas/agregar" class="btn btn-success btn-primary">+</a></h1>
<table class="table table-striped table-bordered" >
  <thead>
    <th scope="col">Exhibicion</th>
    <th scope="col">Cliente</th>
    <th scope="col">Guia</th>
    <th scope="col">Cantidad de personas</th>
    <th scope="col">Fecha de visita</th>
    <th scope="col">Horario</th>
    <th scope="col">Precio</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each visitas}}
    <tr>
      <td>{{this.Exhibicion.tematica}} | {{this.Exhibicion.nombre}}</td>
      <td>{{this.Cliente.Persona.identificacion}} | {{this.Cliente.Persona.nombre}} {{this.Cliente.Persona.apellido}}</td>
      <td>{{this.Guium.Persona.identificacion}} | {{this.Guium.Persona.nombre}} {{this.Guium.Persona.apellido}} </td>
      <td>{{this.cantidadDePersonas}}</td>
      <td>{{this.fechaVisita}}</td>
      <td>{{this.horario}} hs</td>
      <td>${{this.precio}}</td>
      <td>
        <a href="/visitas/editar/{{this.id}}"><i class="far fa-edit"></i></a>
        <a href="/visitas/eliminar/{{this.id}}"><i class="fas fa-minus-circle"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{> pagination/footer paginationObj }}
