<div class="container">
  <form action="/exhibiciones" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white" id="agregarDinoModalLabel">
        <h3>Agregar Exhibicion</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input {{#with nombre}} value={{nombre}} {{/with}} type="text" name="nombre" id="" class="form-control" placeholder="Nombre de la exhibicion" required>
          <label for="tematica">Tematica:</label>
          <input {{#with tematica}} value={{tematica}} {{/with}} type="text" name="tematica" id="" class="form-control" placeholder="Tematica de la exhibicion" required>
          <label for="duracion">Duracion: <i>Cantidad de meses</i></label>
          <input {{#with duracion}} value={{duracion}} {{/with}} type="number" name="duracion" min="1" max="40" id="" class="form-control" placeholder="Duracion de la exhibicion. Ej: 2 meses, 4 meses" required>
        </div>
        <div class="form-group container">
          <div class="row">
            <div class="col-6" style="padding-left:0px">
              <label for="fosiles">Listado de fosiles disponibles:</label>
              <div class="col-sm border" style="height: 21vh; overflow: auto">
                {{!-- @TODO agregar fosiles --}}
                {{#each fosiles}}
                <input type="checkbox" name="fosiles" id="" value="{{this.id}}">{{this.huesos}} | {{this.Dinosaurio.nombre}}
                <br>
                {{else}}
                <i>No hay Fosiles disponibles</i>
                {{/each}}
              </div>
            </div>
            <div class="col-6">
              <label for="replicas">Listado de replicas disponibles:</label>
              <div class="col-sm border" style="height: 21vh; overflow: auto">
                {{!-- @TODO agregar replicas --}}
                {{#each replicas}}
                <input type="checkbox" name="replicas" id="" value="{{this.id}}" min="0">{{this.Hueso.nombre}} | {{this.Dinosaurio.nombre}}
                <br>
                {{else}}
                <i>No hay Replicas disponibles</i>
                {{/each }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
      <button type="submit" class="btn btn-success btn-block">Agregar Exhibicion!</button>
      </div>
    </div>
</div>
</form>
</div>