<h1 class="text-center"><u>Detalles de la Exhibición</u></h1>
<br>
<br>

<h2>Exhibición - <b>{{exhibicion.nombre}}</b> </h2>
<h2>Temática - <b>{{exhibicion.tematica}}</b></h2>
<h2>Duración - <b>{{exhibicion.duracion}} meses</b></h2>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <th>Fósiles</th>
                </thead>
                <tbody>
                    {{#each fosiles}}
                    <tr>
                        <td>{{this.huesos}}</td>
                    </tr>
                    {{else}}
                    <tr><td>No hay fósiles para esta exhibición.</td></tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <th>Réplicas</th>
                </thead>
                <tbody>
                    {{#each replicas}}
                    <tr>
                        <td>{{this.Hueso.nombre}}</td>
                    </tr>
                    {{else}}
                    <tr><td>No hay réplicas para esta exhibición.</td></tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>