<h1 class="text-center"><u>Detalles de la Exhibición</u></h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h5><b>Exhibición:</b> {{exhibicion.nombre}} </h5>
      <h5><b>Temática:</b> {{exhibicion.tematica}}</h5>
      <h5><b>Duración:</b> {{exhibicion.duracion}} meses</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>Fósiles</th>
        </thead>
        <tbody>
          {{#each fosiles}}
          <tr>
            <td>{{this.huesos}} | {{ this.Dinosaurio.nombre }}</td>
          </tr>
          {{else}}
          <tr>
            <td>No hay fósiles para esta exhibición.</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <thead>
          <th>Réplicas</th>
        </thead>
        <tbody>
          {{#each replicas}}
          <tr>
            <td> {{this.Hueso.nombre}} | {{ this.Dinosaurio.nombre }} </td>
          </tr>
          {{else}}
          <tr>
            <td>No hay réplicas para esta exhibición.</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>