<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de la Exhibición</title>
</head>

<body>

  <div class="text-center">
    <h4 class="pt-2"><strong><u>Detalle de la Exhibición #{{exhibicion.id}}</u></strong></h4>
  </div>


  <br>

  <div class="container">
    <div class="row">
      <div class="col">
        <b><u>Nombre:</b></u> {{exhibicion.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b><u>Temática:</b></u> {{exhibicion.tematica}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b><u>Duración:</b></u> {{exhibicion.duracion}} mes(es)
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Fósiles</th>
            </tr>
          </thead>
          <tbody>
            {{#each fosiles}}
            <tr>
              <td>{{this.huesos}} | {{ this.Dinosaurio.nombre }}</td>
            </tr>
            {{else}}
            <tr>
              <td>No hay fósiles para esta exhibición.</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th>Réplicas</th>
            </tr>
          </thead>
          <tbody>
            {{#each replicas}}
            <tr>
              <td>{{this.Hueso.nombre}} | {{ this.Dinosaurio.nombre }}</td>
            </tr>
            {{else}}
            <tr>
              <td>No hay réplicas para esta exhibición.</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>