<div style="padding-top: 10px">
    <h1>Exhibiciones <a href="/exhibiciones/agregar" class="btn btn-success btn-primary">+</a></h1>
    <table class="table table-striped table-bordered" id="datatable">
        <thead>
            <th scope="col">Nombre</th>
            <th scope="col">Duracion</th>
            <th scope="col">Tematica</th>
            <th scope="col">Lista de fosiles</th>
            <th scope="col">Lista de replicas</th>
            <th scope="col">Acciones</th>
        </thead>
        <tbody>
                {{#each exhibiciones}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.duracion}}</td>
                <td>{{this.tematica}}</td>
                <td>
                    <a href="={{this.id}}" class="btn btn-primary">fosiles</a>
                </td>
                <td>
                    <a href="={{this.id}}" class="btn btn-primary">replicas</a>
                </td>
                <td>
                    <a href="/exhibiciones/editar?id={{this.id}}"><i class="far fa-edit"></i></a>
                    <!--editar-->
                    <a href="/exhibiciones/eliminar?id={{this.id}}"><i class="fas fa-minus-circle" style="color: red;"></i></a>
                </td>
            </tr>
                {{/each}}
        </tbody>
    </table>
</div>