<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-6">
      <a class="btn btn-primary" href="/{{ this.endpoint }}?page={{ this.prevPage }}&limit={{ this.limit }}" role="button">Anterior</a>
      Mostrando de {{ this.firstIndex }} - {{ this.lastIndex }}  de {{ this.total }}, Pagina {{ this.page }} de {{ this.totalPages }}
      <a class="btn btn-primary" href="/{{ this.endpoint }}?page={{ this.nextPage }}&limit={{ this.limit }}" role="button">Siguiente</a>
    </div>
  </div>
</div>