<div class="alert alert-danger mt-4">¿Seguro que quiere borrar esto?</div>
<div class="card mt-4">
    <div class="card-header text-center bg-secondary text-white">
        <h1>Eliminar Réplica</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Hueso</th>
                <th scope="col">Dinosaurio</th>
                <th scope="col">Disponible</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de finalización</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{replica.dataValues.Hueso.dataValues.id}}</td>
                    <td>{{replica.dataValues.Hueso.dataValues.nombre}}</td>
                    <td>{{replica.dataValues.Dinosaurio.dataValues.nombre}}</td>
                    <td>
                        {{#if replica.dataValues.disponible}}
                        Sí
                        {{else}}
                        No
                        {{/if}}
                    </td>
                    <td>{{replica.dataValues.fecha_inicio}}</td>
                    <td>{{replica.dataValues.fecha_fin}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <form action="/replicas?_method=DELETE" method="POST">
            <input type="number" name="id" value="{{replica.dataValues.id}}" hidden required>
            <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
            <a href="/pedidos/replicas" class="btn btn-secondary btn-block">Volver</a>
        </form>
    </div>
</div>