<div style="padding-top: 10px">
  {{#if pedidos.length}}
  {{#each pedidos}}
  <h1 class="bg-secondary text-center text-white rounded p-2">
    Réplicas - {{this.dataValues.dino.nombre}} {{this.dataValues.tipo}} (ID: {{this.dataValues.id}})
    <a href="docs/sections/gestiones/taller.html#replicas" class="btn btn-info ml-auto" target="_blank">
      Manual
    </a>
  </h1>
  <table class="replicas table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hueso</th>
        <th scope="col">Dinosaurio</th>
        <th scope="col">Fecha de inicio</th>
        <th scope="col">Fecha de finalización</th>
        <th scope="col" data-orderable="false">Disponible</th>
        <th class="no-export" data-orderable="false">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.dataValues.Replicas}}
      <tr>
        <td>{{this.dataValues.Hueso.dataValues.id}}</td>
        <td>{{this.dataValues.Hueso.dataValues.nombre}}</td>
        <td>{{this.dataValues.Dinosaurio.dataValues.nombre}}</td>
        <td>{{this.dataValues.fecha_inicio}}</td>
        <td>{{this.dataValues.fecha_fin}}</td>
        <td>
          <form action="/replicas/disponibilidad?_method=PATCH" method="POST">
            <label class="switch">
              <input onchange="toggleDisponible({{this.dataValues.id}})" type="checkbox" {{#if
                this.dataValues.disponible}} checked {{/if}}>
              <span class="slider round"></span>
            </label>
          </form>
        </td>
        <td>
          <a href="/replicas/eliminar/{{this.dataValues.id}}" style="color: red;" class="material-icons">delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Línea divisoria -->
  <hr style="border-top: 3px solid #000; margin: 50px 0;">
  {{/each}}
  {{else}}
  <h1 class="bg-secondary text-center text-white rounded p-2">
    Réplicas - No Hay Pedidos De Replicas
  </h1>
  {{/if}}
</div>



<script>
  $(document).ready(function () {
    $('.replicas').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdf',
          orientation: 'landscape',
          exportOptions: {
            columns: ':not(.no-export)'
          }
        },
        {
          extend: 'excel',
          exportOptions: {
            columns: ':not(.no-export)'
          }
        },
        {
          extend: 'csv',
          exportOptions: {
            columns: ':not(.no-export)'
          }
        }
      ],
      searching: true,
      ordering: true,
      pageLength: 10,
      language: {
        processing: "Buscando...",
        search: "Buscar:",
        lengthMenu: "Mostrando _MENU_",
        info: "Mostrando _START_ de _END_ de un total de _TOTAL_ ",
        infoEmpty: "Mostrando 0 de 0 de un total de 0 ",
        infoFiltered: "(de un total de _MAX_)",
        infoPostFix: "",
        loadingRecords: "Cargando...",
        zeroRecords: "No se ha encontrado elementos con ese filtro",
        emptyTable: "No hay réplicas.",
        paginate: {
          first: "Primero",
          previous: "Anterior",
          next: "Siguiente",
          last: "Último"
        },
        aria: {
          sortAscending: ": Ordenar ascendente",
          sortDescending: ": Ordenar descendente"
        }
      }
    })
  })
</script>

<script>
  function toggleDisponible(id) {
    fetch(`/replicas/disponibilidad/${id}`, {
      method: "PATCH",
      credentials: "same-origin",
    })
    //aca hago una llamada con fetch
  }
</script>
{{!--
<link type="text/css" rel="stylesheet" href="toggleSwitch.css"> no funciona--}}
<style>
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>


<link rel="stylesheet" type="text/css"
  href="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/datatables.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
  src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/datatables.min.js"></script>