<div class="container">
    <form action="/replicas" method="post">
        <div class="card mt-4">
            <div class="card-header text-center bg-dark text-white" id="agregarReplicaModalLabel">
                <h1>Crear pedido de replicacion</h1>
            </div>
            <div class="card-body">
                {{!-- BARRA DE NAVEGACION --}}
                <div class="container">
                    <div class="row">
                        <div class="col pb-2">
                            {{!-- Hola tabs --}}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="interno-tab" data-toggle="tab" href="#interno"
                                        role="tab" aria-controls="interno" aria-selected="true">
                                        Interno
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="externo-tab" data-toggle="tab" href="#externo" role="tab"
                                        aria-controls="externo" aria-selected="false">
                                        Externo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            {{!-- Hola Empty --}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" class="tab-content" id="myTabContent">
                            {{!-- Hola tab contenido --}}
                            <div class="tab-pane fade show active" id="interno" role="tabpanel"
                                aria-labelledby="interno-tab">
                            </div>
                            <div class="tab-pane fade" id="externo" role="tabpanel" aria-labelledby="externo-tab">
                                <label class="col form-group" id="Example">
                                    <label class="font-weight-bold" for="cliente">Cliente:</label>

                                    <select name="cliente" class="cliente form-control">
                                        {{#each clientes}}
                                        <option value="{{this.Persona.id}}"> {{ this.Persona.nombre }}
                                            {{this.Persona.apellido}} {{this.Persona.identificacion}} </option>
                                        {{/each}}
                                    </select>

                                    <label class="font-weight-bold" for="descripcion">Descripcion:</label>
                                    <input class="cliente form-control" type="text" name="descripcion" id="" required />
                                    <label for="monto">Monto:</label>
                                    <input class="cliente form-control" type="number" name="monto" min="0" id=""
                                        required />
                                    <label for="fin-oferta">Fin de Oferta:</label>
                                    <input class="cliente form-control" type="date" name="finoferta" id="" required />
                                </label>
                            </div>
                        </div>
                        <div class="col-6 pb-3">
                            {{!-- Hola Dinosaurio --}}
                            <div class="form-group">
                                <h3>Seleccione Dinosaurio</h3>
                                <select class="form-control" name="dinosaurio" onchange="buscarHuesos()"
                                    id="selectHueso" required>
                                    {{!-- @TODO traer dinos --}}
                                    <option value="" selected aria-required="true">Seleccione un Dinosaurio
                                    </option>
                                    {{#each dinosaurios}}
                                    <option value="{{ this.id }}">{{ this.nombre }}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <h3>Seleccione huesos</h3>
                                <label for="Total">
                                    Replica total (todos los huesos replicados)
                                    <button type="button" class="btn btn-primary" id="total">
                                        Seleccionar Todo
                                    </button>
                                    <button type="button" class="btn btn-danger" id="resetear">
                                        Reset
                                    </button>
                                </label>
                                <div class="container border">
                                    <div class="row">
                                        <div class="col-sm border" style="height: 21vh; overflow: auto">
                                            <label for="huesos" id="listaHuesos">
                                            </label>
                                        </div>
                                        <div class="col-sm border">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="text" name="tipo" id="tipo" value="Interno" hidden>
                <button class="btn btn-success form-control" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>






<script>
    $(document).ready(() => {
        $("#interno-tab").click(function () {
            $("#collapseExample").collapse("show");
            $("#tipo").val("Interno");
            $(".cliente").each(function () {
                this.required = false;
                this.disabled = true;
            });
        });
        $("#externo-tab").click(function () {
            $("#collapseExample").collapse("hide");
            $("#tipo").val("Externo")
            $(".cliente").each(function () {
                this.disabled = false;
                this.required = true;
            });
        });
    });
</script>


<script>
    //https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
    let e = document.getElementById("selectHueso");
    e.addEventListener("change", buscarHuesos);

    function buscarHuesos() {
        let dinoId = e.options[e.selectedIndex].value;
        //console.log(e.options[e.selectedIndex].text);
        fetch(`http://localhost:3000/dinosaurios/huesos/${dinoId}`, { mode: "cors" })
            .then((res) => {
                return res.json()
            })
            .then((json) => {
                let arr = [];
                let contenedor = document.getElementById("listaHuesos");
                contenedor.innerHTML = "";
                const entries = Object.entries(json)
                for (var key in json) {
                    arr.push(generateCheckbox(json[key].id, json[key].nombre, json[key].numero))
                    arr.push("<br>")
                }
                contenedor.innerHTML = arr;
            })
            .catch((err) => {
                console.log(err)
            })
    }

    function generateCheckbox(id, nombre, numero) {
        return `<input type="checkbox" name="hueso" value="${id}">${nombre} #${numero}`;
    }
</script>

<script>
    //https://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html
    $("#total").click(function (ev) {
        $("[name='hueso']").each(function () {
            this.checked = true
        })
    })
    $("#resetear").click(function (ev) {
        $("[name='hueso']").each(function () {
            this.checked = false
        })
    })
</script>