<form action="/replicas/pedidos/{{accion}}/{{id}}" method="post">
    <div class="container pt-4">
        <div class="row">
            <div class="card mx-auto mt-4 text-center">
                <div class="card-header bg-dark text-white">
                    <h2>Reanudar Replicacion</h2>
                </div>
                <div class="card-body">
                    <span class="bg-info form-control text-center text-white">Esta a punto de {{accion}} el
                        siguiente
                        pedido</span>
                    <h5 class="card-title pt-2">Pedido de Replicacion Nº {{id}}</h5>
                    <div class="row pb-4">
                        
                        <div class="container col-8">
                            <p class="card-text pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam
                                quo repellendus veritatis consequatur dolor expedita amet repellat. Necessitatibus ut
                                repellendus libero magni assumenda asperiores iure placeat quae perferendis distinctio.</p>
                            <label for="fechafin">
                                <h6 class="pb-2">Fecha Finalizacion de Replica</h6>
                                <input class="form-control" type="date" name="fecha_fin" id="">
                            </label>
                        </div>
                        
                    </div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        Ver Detalle
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content modal-xl">

                                <!-- Modal body -->
                                <div class="modal-body">
                                    {{> replica/detalle detalles}}
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark text-muted">
                    <button type="submit" class="btn btn-success">Confirmar</button>
                    <a href="/replicas" class="btn btn-danger">Rechazar</a>
                </div>
            </div>
        </div>
    </div>
</form>



{{!-- <h1>Finalizar Pedido</h1>
<span class="bg-warning form-control">Esta a punto de poner de {{accion}} el pedido#{{id}}</span>
{{> replica/detalle detalles}}
<label for="fechafin">
    Fecha Finalizacion de Replica
    <input class="form-control" type="date" name="fechafin" id="">
</label>
 @TODO casi todos van a ser asi
<form action="/replicas/pedidos/{{accion}}/{{id}}" method="post">
    <button type="submit" class="btn btn-success">Confirmar</button>
    <a href="/replicas" class="btn btn-secondary">Rechazar</a>
</form> --}}