<h1>Lista de pedidos
    <a class="btn btn-success" href="/replicas/pedidos/agregar" role="button">Crear Pedido</a>
    
</h1>

<div class="container">
    {{#if pedidos}}
    <table class="table">
        <thead>
            <th>#</th>
            <th>Autorizado</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Motivo</th>
            <th>Acciones</th>
        </thead>
        <tbody>
    {{/if}}            
            {{#each pedidos}}
            <tr class="{{this.estadoInstance}}">
                <td class="id">{{this.id}}</td>
                <td>{{this.autorizacion}}</td> 
                <td>{{this.estadoInstance}}</td>
                <td class="cliente">
                    {{#with this.Persona as |Cliente|}}
                        {{Cliente.nombre}} {{Cliente.apellido}}
                    {{else}}
                        <i>Interno</i>
                    {{/with}}
                    </td>
                <td>{{this.motivo}}</td>
            </tr>
            {{else}}
            <div class="container pt-4 text-center">
                <h3>No hay pedidos agregados.</h3>
            </div>
            {{/each}}
    {{#if pedidos}}
        </tbody>
    </table>
    {{/if}}
</div>

<script>
$(".Presupuestado").each(function(){
    $(this).append("<td> "+ fabricar("facturar", $(this).find('.id')[0].innerText) + fabricar("cancelar", $(this).find('.id')[0].innerText) +  " </td>");
})
$(".Facturado").each(function(){
    $(this).append("<td>"+ fabricar("confirmar",$(this).find('.id')[0].innerText)  + "</td>")
})
$(".Confirmado").each(function(){
    $(this).append("<td>"+ fabricar("fabricar", $(this).find('.id')[0].innerText)+ fabricar("cancelar", $(this).find('.id')[0].innerText)+"</td>")
})
$(".Fabricando").each(function(){
    $(this).append("<td>"+ 
        fabricar("finalizar",$(this).find('.id')[0].innerText) + 
        fabricar("demorar",$(this).find('.id')[0].innerText) + 
        fabricar("editar",$(this).find('.id')[0].innerText) + 
         "</td>")
})
$(".Demorado").each(function(){
    $(this).append("<td>"+ fabricar("reanudar",$(this).find('.id')[0].innerText) +  "</td>")
})
$(".Finalizado").each(function(){
    let cliente = $(this).find('.cliente')[0].innerText;
    if(cliente === 'Interno'){
        $(this).append("<td>No hay mas acciones.</td>")
    }else{
       $(this).append("<td>"+ fabricar("entregar",$(this).find('.id')[0].innerText)+"</td>")
    }
})
$(".Entregado").each(function(){
    $(this).append("<td>No hay mas acciones.</td>")
})
$(".Cancelado").each(function(){
    $(this).append("<td>No hay mas acciones.</td>")
})

    function fabricar(accion, id) {
        let capitlizado = accion.charAt(0).toUpperCase() + accion.slice(1);
        return `<a class='btn btn-primary' href='/replicas/pedidos/${accion}/${id}'>${capitlizado}</a>`;
    }
</script>