<div class="container mt-4">
  <form action="/fosiles?_method=PUT" method="POST">
    <div class="card mx-auto mt-4">
      <div class="card-header bg-secondary text-white text-center">
        <h3>Editar Fosil #{{fosil.id}} </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="dinosaurio">Seleccionar Dinosaurio</label>
              {{!-- Esto es el desplegable de Dinosaurio --}}
              <select class="form-control" name="DinosaurioId" id="dinosaurioId">
                <option value="{{dinosaurio.id}}" selected>{{dinosaurio.nombre}}</option>
                {{#each dinosaurios}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Dinosaurio de referencia</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="hueso">Seleccionar Hueso</label>
              {{!-- Este es el desplegable de huesitos --}}
              <select class="form-control" name="huesos" id="huesoId">
                <option value="{{fosil.huesos}}" selected>{{fosil.huesos}}</option>
                {{#each bones}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
              <small class="form-text-muted text-muted">Hueso de referencia</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="InputNumeroColeccion">Código de Colección</label>
              {{#if fosil}}
              <input type="text" class="form-control" maxlength="30" name="numero_coleccion" id="InputNumeroColeccion"
                placeholder="Ingrese Numero de Coleccion" required value="{{fosil.numero_coleccion}}">
              {{/if}}
              <small class="form-text-muted text-muted">Máximo 30 caracteres. Se puede repetir el código.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="InputPeso">Peso (Kg)</label>
              {{#if fosil}}
              <input type="number" class="form-control" min="1" max="2000" name="peso" id="InputPeso"
                placeholder="Ingrese Peso de Fosil." required value="{{fosil.peso}}">
              {{/if}}
              <small class="form-text-muted text-muted">Mínimo 1 kg y Máximo 2000 kg</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="fecha_encontrado" class="col-form font-weight-bold">Fecha Encontrado</label>
              <div>
                {{#if fosil}}
                <input class="form-control" type="date" name="fecha_encontrado" id="InputFechaDescubrimiento"
                  value="{{fosil.fecha_encontrado}}">
                {{/if}}
              </div>
              <label class="pt-3 text-center font-weight-bold">Disponible para exhibición:</label>
              <br>
              {{#if fosil.disponible}}
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="disponible" value="true" autocomplete="off" required checked>
                Sí
              </label>
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="disponible" value="false" autocomplete="off">
                No
              </label>
              {{else}}
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="disponible" value="true" autocomplete="off">
                Sí
              </label>
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="disponible" value="true" autocomplete="off" required checked>
                No
              </label>
              {{/if}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="font-weight-bold" for="observacion">Observaciones</label><br>
              {{#if fosil}}
              <textarea class="form-control" maxlength="140" name="observacion" maxlength="100" cols="number" rows="5"
                placeholder="Ingrese observaciones">{{fosil.observacion}}</textarea>
              {{/if}}
              <small class="form-text-muted text-muted">Opcional, Máximo 140 caracteres</small>
            </div>
          </div>
        </div>
        <!--Botón de Guardar -->
        <div class="form-group">
          <div class="row justify-content-end">
            <input type="numbrer" name="id" value="{{fosil.id}}" hidden>
            <div class="col-6">
              <button type="submit" class="btn btn-success btn-sm btn-block">Guardar cambios</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Setea la fecha actual como fecha máxima de "encontrado" -->
<script>
  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InputFechaDescubrimiento").setAttribute("max", hoy);
    $("#InputFechaDescubrimiento").attr("max", hoy);
  })
  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();
    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;
    return [year, month, day].join('-');
  }
</script>