<div class="container mt-4">
    <div class="row">
        <div class="card mx-auto mt-4">
            <div class="card-header bg-dark text-white text-center">
                <h3>Editar Fosil</h3>
            </div>
            <div class="card-body">
                <form action="/fosiles?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="dinosaurio">Seleccionar Dinosaurio</label>

                                <input class="form-control" name="" id="dinosaurioId" disabled
                                    value="{{dinosaurio.nombre}}">
                                <input type="hidden" name="DinosaurioId" value="{{dinosaurio.id}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="hueso">Seleccionar Hueso</label>
                                <select class="form-control" name="huesos" id="huesoId">

                                    {{#each bones}}
                                    <option value="{{this}}">{{this}}</option>
                                    {{/each}}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="InputNumeroColeccion">Numero de Coleccion</label>
                                {{#if fosil}}
                                <input type="text" class="form-control" name="numero_coleccion"
                                    id="InputNumeroColeccion" placeholder="Ingrese Numero de Coleccion" required
                                    value="{{fosil.numero_coleccion}}">
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="InputPeso">Peso (Kg)</label>
                                <input type="number" class="form-control" name="peso" id="InputPeso"
                                    placeholder="Ingrese Peso de Fosil" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fecha_encontrado" class="col-form font-weight-bold">Fecha Encontrado</label>
                                <div>
                                    <input class="form-control" type="date" id="example-date-input" min = "1800-01-01" max = "2019-12-09">
                                </div>
                                <label class="pt-3 text-center font-weight-bold">Disponible:</label>
                                <div class="btn-group btn-block btn-group-toggle pt-2" data-toggle="buttons">
                                    <label class="btn btn-secondary form-check-label">
                                        <input type="radio" name="disponible" id="option1" value="true"
                                            autocomplete="off" required>
                                        Si
                                    </label>
                                    <label class="btn btn-secondary form-check-label">
                                        <input type="radio" name="disponible" id="option2" value="false"
                                            autocomplete="off">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="observacion">observaciones</label><br>
                                <textarea class="form-control" name="observacion" id="" maxlength="100" cols="number" rows="5"
                                    placeholder="Ingrese observaciones"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="numbrer" name="id" value="{{fosil.id}}" hidden>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-success btn-block">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>