<div class="alert alert-danger mt-4">Segure que queres borrar esto ?</div>
<table class="table">
    <thead>
        {{!-- <th scope="col">Hueso</th> --}}
        <th scope="col">#</th>
        <th scope="col">Numero de Coleccion</th>
        <th scope="col">Peso</th>
        <th scope="col">Disponible</th>
        <th scope="col">Fecha Encontrado</th>
        <th scope="col">Observacion</th>
    </thead>
    <tbody>
        <tr>
            <th>{{fosil.id}}</th>
            <td>{{fosil.numero_coleccion}}</td>
            <td>{{fosil.peso}}</td>
            <td>{{fosil.disponible}}</td>
            <td>{{fosil.fecha_encontrado}}</td>
            <td>{{fosil.observacion}}</td>
        </tr>
    </tbody>
</table>

<form action="/fosiles?_method=DELETE" method="POST">
    <input name="id" type="number" value="{{fosil.id}}" hidden required>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="/fosiles" class="btn btn-primary">Nah!</a>
</form>