<div style="padding-top: 10px"></div>
<h1>Fosiles
  <a href="/fosiles/agregar" class="btn btn-success btn-primary" rel="noopener noreferrer">+</a>
</h1>
<table style="table-layout: fixed; word-wrap: break-word;" class="table table-hover table-striped table-bordered" id="fosiles" >
  <thead>
    <th scope="col">Codigo de Coleccion</th>
    <th scope="col">Disponible para exhibicion</th>
    <th scope="col">Peso</th>
    <th scope="col">Fecha Encontrado</th>
    <th scope="col">Hueso Referencia</th>
    <th scope="col">Dinosaurio</th>
    <th scope="col">Observaciones</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each results}}
    <tr>
      <td style="word-wrap: break-word;">{{this.numero_coleccion}}</td>
      <td>{{#if this.disponible}}
        Si
        {{else}}
        No
        {{/if}}
      </td>
      <td>{{this.peso}} Kg.</td>
      <td>{{this.fecha_encontrado}}</td>
      <td>{{this.huesos}}</td>
      <td>{{this.Dinosaurio.nombre}}</td>
      <td style="word-wrap: break-word;">{{this.observacion}}</td>
      <td>
        {{!-- Acciones --}}
        <a href="/fosiles/editar/{{this.id}}">
          <span class="material-icons">
          edit
          </span>
        </a>
        <a href="/fosiles/eliminar/{{this.id}}">
          <span class="material-icons" style="color:red">
          delete
          </span>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
  $('#fosiles').DataTable({
    searching: true,
    ordering:  true,
    language: {
        processing:"Buscando...",
        search:"Buscar:",
        lengthMenu:"Mostrando _MENU_",
        info:"Mostrando _START_ de _END_ de un total de _TOTAL_ ",
        infoEmpty:"Mostrando 0 de 0 de un total de 0 ",
        infoFiltered: "(de un total de _MAX_)",
        infoPostFix: "",
        loadingRecords:"Cargando...",
        zeroRecords:"No hay elementos agregados",
        emptyTable:"No hay elementos :(",
        paginate:{
            first:"Primero",
            previous:"Anterior",
            next:"Siguiente",
            last:"Último"
        },
        aria: {
            sortAscending:  ": Ordenar ascendente",
            sortDescending: ": Ordenar descendente"
        }
    }
  });
});
</script>