<h2>Detalles del pedido</h2>
<div style="max-height: 40vh; overflow:auto">
    <h4 class="display-6">Pedido Nº:
    </h4>
    <table class="table">
        <thead>
            <th>Cantidad ASDASDAD</th>
            <th>Hueso</th>
            <th>Pedido</th>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td>{{this.cantidad}}</td>
                <td>{{this.Hueso.nombre}}</td>
                <td>{{this.Pedido.estadoInstance}}
                    {{this.Pedido.tipo}}
                    {{this.Pedido.motivo}}
                    {{this.PedidoId}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>