<h1>Lista de huesos</h1>
<h5>Dinosaurio: {{ dino.nombre }}, {{ dino.periodo }}, {{ dino.alimentacion }}</h5>

{{#each huesosAgrupados }}
<div class="huesos-agrupados">
  <a class="btn btn-secondary btn-block my-2" data-toggle="collapse" href="#{{agrupado}}" role="button"
    aria-expanded="false" aria-controls="{{agrupado}}">
    {{agrupado}}
  </a>
  <div class="collapse show" id="{{agrupado}}">
    <div class="card card-body">
      <div class="padding-top:10px">
        <table class="table table-striped">
          <thead>
            <th>Nombre</th>
            <th>Hueso</th>
            <th>Tipo</th>
            <th>Subtipo</th>
            {{#if ../req.taller}}
            <th>Tiene Molde</th>
            {{/if}}
          </thead>
          <tbody>
            {{#each this}}
            <tr>
              <td>{{this.huesos.nombre}}</td>
              <td>{{this.huesos.nombre}} {{this.huesos.numero}}</td>
              <td>{{this.huesos.tipohueso}}</td>
              <td>{{this.huesos.subtipohueso}}</td>
              {{#if ../req.taller}}
              <td>
                <form action="/dinosaurios/moldes/toggle" method="PATCH"> <!-- Ajuste aquí -->
                  <label class="switch">
                    <input type="checkbox" onchange="toggleMolde('{{this.huesos.id}}')" {{#if this.huesos.disponible}}checked{{/if}}> <!-- Ajuste aquí -->
                    <span class="slider round"></span>
                  </label>
                </form>
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{/each}}

<script>
  function toggleMolde(id) {
    fetch(`/dinosaurios/moldes/toggle?id=${id}`, {
      method: "PATCH",
      credentials: "same-origin",
    })
    //aca hago una llamada con fetch
  }
</script>

{{!-- <link type="text/css" rel="stylesheet" href="toggleSwitch.css"> no funciona--}}
<style>
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>