<div class="container">
  <form action="/dinosaurios" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white" id="agregarDinoModalLabel">
        <h3>Agregar Dinosaurio</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="font-weight-bold pt-2 pb-2 border-top btn-block" for="InputNombreCientifico">Nombre
                cientifico</label>
              <input type="text" class="form-control" name="nombre" id="InputNombreCientifico"
                placeholder="Ingrese Nombre Cientifico" maxlength="30" required {{#if dino}} value="{{dino.nombre}}" {{/if}}>

              <small class="form-text-muted text-muted">Maximo 30 caracteres</small>
            </div>
            {{#if dino}}<input name="id" type="number" value="{{dino.id}}" hidden> {{/if}}
            <label class="font-weight-bold pt-1 btn-block">
              Alimentacion
            </label>
            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
              <label class="btn btn-secondary form-check-label active">
                <input type="radio" name="alimentacion" id="option1" value="Carnivoro" autocomplete="off" checked
                  required>
                CARNÍVORO
              </label>
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="alimentacion" id="option2" value="Herbivoro" autocomplete="off"> HERBÍVORO
              </label>
              <label class="btn btn-secondary form-check-label">
                <input type="radio" name="alimentacion" id="option3" value="Omnivoro" autocomplete="off"> OMNÍVORO
              </label>
            </div>
            <label class="font-weight-bold pt-1 btn-block">
              Periodo
            </label>
            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
              <label class="btn btn-secondary  active">
                <input class="form-check-input" type="radio" name="periodo" value="Cretacico" id="option1"
                  autocomplete="off" checked required> CRETÁCICO
              </label>
              <label class="btn btn-secondary">
                <input class="form-check-input" type="radio" name="periodo" value="Jurasico" id="option2"
                  autocomplete="off">
                JURÁSICO
              </label>
              <label class="btn btn-secondary">
                <input class="form-check-input" type="radio" name="periodo" value="Triasico" id="option3"
                  autocomplete="off">
                TRIÁSICO
              </label>
            </div>
            <div class="form-group pt-5">
              <label class="font-weight-bold pr-4" for="InputFechaDescubrimiento">Fecha Descubrimiento</label>
              <input class="text-center" type="date" name="descubrimiento" min = "1800-01-01" id="InputFechaDescubrimiento"
                required {{#if dino}} value="{{dino.descubrimiento}}" {{/if}}>
            </div>
            <div class="form-group-vertical">
              <label class="font-weight-bold pt-4" for="exampleFormControlSelect1">Subclase</label>
              <select class="form-control" style="height: 50px;" name="idsubclase" id="exampleFormControlSelect1"
                autocomplete="off" required>
                {{#each subclases}}
                <option value="{{this.id}}">{{this.descripcion}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <table class="table table-striped col-6 border-bottom">
            <thead>
              <tr class="row">
                <th class="col-md-20"><h2>Listado de huesos</h2></th>
              </tr>
              <tr>
                <th scope="col">Nombre de Hueso</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vertebras Cervicales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100"
                    name="cant_cervicales" value="7" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Vertebras Dorsales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100" name="cant_dorsales"
                    value="10" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Vertebras Caudales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100" name="cant_caudales"
                    value="20" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Vertebras Sacras</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100" name="cant_sacras"
                    value="4" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Costillas Cervicales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100"
                    name="cant_cos_cervicales" value="7" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Costillas Dorsales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100"
                    name="cant_cos_dorsales" value="10" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Hemales</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100" name="cant_hemales"
                    value="15" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Cantidad de metacarpianos</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100"
                    name="cant_metacarpianos" value="3" ceholder="cantidad de huesos" required></td>
              </tr>
              <tr>
                <td>Cantidad de dedos manos</td>
                <td><input class="text-right border border-0 radio" type="number" min="1" max="100"
                    name="cant_dedos_mano" value="3" placeholder="cantidad de huesos" required></td>
              </tr>
              <tr>

                <td>Cantidad de dedos pies</td>
                <td><input class="text-right border border-0 radio radio" type="number" min="1" max="100"
                    name="cant_dedos_pie" value="4" placeholder="cantidad de huesos" required></td>
              </tr>
            </tbody>
          </table>
          <div class="container">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <i>*Existen huesos que se cargaran por defecto ya que no estan sujetos a que cambie su cantidad.</i>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="row">
          <div class="form-group btn btn-block">
            <button type="submit" class="btn btn-success form-control">Agregar Dinosaurio</button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>


<script>
    // setea la fecha actual como fecha máxima de "descubrimiento"


    $(document).ready(function () {
        var hoy = formatDate(new Date());
        document.getElementById("InputFechaDescubrimiento").setAttribute("max", hoy);
        $("#InputFechaDescubrimiento").attr("max", hoy);
    })

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

</script>