<div style="padding-top: 10px">
  <h1>
    Dinosaurios
    <a href="/dinosaurios/agregar" class="btn btn-success btn-primary" rel="noopener noreferrer">
      +
    </a>
    {{!-- CORREGIR LA BARRA DE BUSQUEDA PARA QUE BUSQUE EN LA BASE DE DATOS --}}
  </h1>
  {{#with dinosaurio}}
  <table class="table table-striped table-bordered" id="datatable">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Alimentacion</th>
      <th scope="col">Periodo</th>
      <th scope="col">Subclase</th>
      <th scope="col">Descubrimiento</th>
      <th scope="col">Acciones</th>
    </thead>
    <tbody>
      {{#each this}}
      <tr>
        <th>{{id}}</th>
        <td>{{nombre}}</td>
        <td>{{alimentacion}}</td>
        <td>{{periodo}}</td>
        <td>{{SubClase.descripcion}}</td>
        <td>{{descubrimiento}}</td>
        <!-- acciones aca -->
        <td>
          <a href="/dinosaurios/editar/{{id}}"><i class="far fa-edit"></i></a>
          <!--editar-->
          <a href="/dinosaurios/eliminar/{{id}}"><i class="fas fa-minus-circle" style="color: red;"></i></a>
          <a href="/dinosaurios/moldes/{{id}}"><i class="fas fa-bone" style="color:darkslategrey;"></i></a>
          {{!-- otras acciones mas --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
    <div class="text">No hay dinosaurios agregados</div>
  {{/with}}
  <div class="container" {{#if dinosaurio}} {{else}}  style="display:none" {{/if}}>
    <div class="row justify-content-center">
      <div class="col-6">
        <a class="btn btn-primary" href="/dinosaurios?page={{ prevPage }}&limit={{limit}}" role="button">Anterior</a>
        Mostrando de {{ firstIndex }} - {{ lastIndex }}  de {{ total }}, Pagina {{ page }} de {{ totalPages }}
        <a class="btn btn-primary" href="/dinosaurios?page={{ nextPage }}&limit={{limit}}" role="button">Siguiente</a>
      </div>
    </div>
  </div>
</div>
