<div style="padding-top: 10px"></div>
<h1>
  Dinosaurios
  <a href="/dinosaurios/agregar" class="btn btn-success btn-primary" rel="noopener noreferrer">
    +
  </a>
</h1>
{{#with dinosaurio}}
<table class="table table-striped table-bordered" id="dinosTable" >
  <thead>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Alimentacion</th>
    <th scope="col">Periodo</th>
    <th scope="col">Subclase</th>
    <th scope="col">Descubrimiento</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each this}}
    <tr>
      <th>{{id}}</th>
      <td>{{nombre}}</td>
      <td>{{alimentacion}}</td>
      <td>{{periodo}}</td>
      <td>{{SubClase.descripcion}}</td>
      <td>{{descubrimiento}}</td>
      <!-- acciones aca -->
      <td>
        <a href="/dinosaurios/editar/{{id}}"><span class="material-icons">
            edit
            </span></a>
        <!--editar-->
        <a href="/dinosaurios/eliminar/{{id}}"><span style="color:red" class="material-icons">delete</span></a>
        <a href="/dinosaurios/moldes/{{id}}"><span style="font-size: 17px;vertical-align:text-bottom;line-height: 2;" >🦴</span></a>
        {{!-- otras acciones mas --}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="text">No hay dinosaurios agregados</div>
{{/with}}
{{> pagination/footer paginationObj }}
