<div style="padding-top: 10px"></div>
<h1>
  Dinosaurios
  <a href="/dinosaurios/agregar" class="btn btn-success btn-primary" rel="noopener noreferrer">
    +
  </a>
</h1>
<table class="table table-striped table-bordered" id="dinosTable" >
  <thead>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Alimentacion</th>
    <th scope="col">Periodo</th>
    <th scope="col">Subclase</th>
    <th scope="col">Descubrimiento</th>
    <th scope="col">Acciones</th>
  </thead>
  <tbody>
    {{#each dinosaurio}}
    <tr>
      <th>{{id}}</th>
      <td>{{nombre}}</td>
      <td>{{alimentacion}}</td>
      <td>{{periodo}}</td>
      <td>{{SubClase.descripcion}}</td>
      <td>{{descubrimiento}}</td>
      <!-- acciones aca -->
      <td>
        <a href="/dinosaurios/editar/{{id}}"><span class="material-icons">
            edit
            </span></a>
        <!--editar-->
        <a href="/dinosaurios/eliminar/{{id}}"><span style="color:red" class="material-icons">delete</span></a>
        <a href="/dinosaurios/moldes/{{id}}"><span style="font-size: 17px;vertical-align:text-bottom;line-height: 2;" >🦴</span></a>
        {{!-- otras acciones mas --}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>



<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
  $('#dinosTable').DataTable({
    searching: true,
    ordering:  true,
        language: {
        processing:"Buscando...",
        search:"Buscar:",
        lengthMenu:"Mostrando _MENU_",
        info:"Mostrando _START_ de _END_ de un total de _TOTAL_ ",
        infoEmpty:"Mostrando 0 de 0 de un total de 0 ",
        infoFiltered: "(de un total de _MAX_)",
        infoPostFix: "",
        loadingRecords:"Cargando...",
        zeroRecords:"No se ha encontrado elementos con ese filtro",
        emptyTable:"No hay elementos :(",
        paginate:{
            first:"Primero",
            previous:"Anterior",
            next:"Siguiente",
            last:"Último"
        },
        aria: {
            sortAscending:  ": Ordenar ascendente",
            sortDescending: ": Ordenar descendente"
        }
    }
  });
});
</script>