<div class="container">
  <form action="/dinosaurios?_method=PUT" method="POST">
    <div class="card mt-2 justify-content-center">
      <div class="card-header text-center bg-secondary text-white" id="editarDinoModalLabel">
        <h3>Editar Dinosaurio</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="font-weight-bold" for="InputNombreCientifico">Nombre cientifico</label>
          <input type="text" class="form-control" name="nombre" id="InputNombreCientifico" maxlength="30"
            placeholder="Ingrese Nombre Científico" required {{#if dino}} value="{{dino.nombre}}" {{/if}}>
          <small class="form-text-muted text-muted">Máximo 30 caracteres</small>

        </div>
        {{#if dino}}<input name="id" type="number" value="{{dino.id}}" hidden> {{/if}}
        <label class="font-weight-bold pt-1 btn-block">Alimentación</label>
        <div class="  mx-auto" data-toggle="buttons">
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="alimentacion" value="Carnivoro" autocomplete="off" {{#if carnivoro}} checked
              {{/if}} required>
            CARNÍVORO
          </label>
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="alimentacion" value="Herbivoro" autocomplete="off" {{#if herbivoro}} checked
              {{/if}}>
            HERBÍVORO
          </label>
          <label class="btn btn-secondary form-check-label">
            <input type="radio" name="alimentacion" id="option3" value="Omnivoro" autocomplete="off" {{#if omnivoro}}
              checked {{/if}}>
            OMNÍVORO
          </label>
        </div>
        <br>
        <label class="font-weight-bold pt-1 btn-block">Periodo</label>
        <div class="mx-auto" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="periodo" value="Cretacico" autocomplete="off" required
            {{#if cretacico }} checked {{/if}}> CRETÁCICO
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="periodo" value="Jurasico" autocomplete="off"
            {{#if jurasico }} checked {{/if}}> JURÁSICO
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="periodo" value="Triasico" id="option3"
            {{#if triasico }} checked {{/if}} autocomplete="off"> TRIÁSICO
          </label>
        </div>
        <div class="form-group pt-3">
          <label for="InputFechaDescubrimiento">Fecha Descubrimiento</label>
          <input type="date" name="descubrimiento" id="InputFechaDescubrimiento" required {{#if dino}}
            value="{{dino.descubrimiento}}" {{/if}}>
        </div>
        <div class="form-group-vertical">
          <label for="exampleFormControlSelect1">Subclase</label>
          <select class="form-control" name="SubClaseId" id="exampleFormControlSelect1" autocomplete="off" required>

            {{#each subclases}}
            <option value="{{this.id}}">{{this.descripcion}}</option>
            {{/each}}
            <option selected value="{{dino.SubClase.id}}">{{dino.SubClase.descripcion}}
            </option>

          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block">Guardar cambios</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script>
  // setea la fecha actual


  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InputFechaDescubrimiento").setAttribute("max", hoy);
    $("#InputFechaDescubrimiento").attr("max", hoy);
  })

  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear();

    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;

    return [year, month, day].join('-');
  }

</script>