<div class="alert alert-danger mt-4">Seguro que queres borrar esto ?</div>
<table class="table">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Activo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Alimentacion</th>
        <th scope="col">Periodo</th>
        <th scope="col">Subclase</th>
        <th scope="col">Descubrimiento</th>
    </thead>
    <tbody>
        <tr>
            <th>{{dino.id}}</th>
            <td>{{dino.activo}}</td>
            <td>{{dino.nombre}}</td>
            <td>{{dino.alimentacion}}</td>
            <td>{{dino.periodo}}</td>
            <td>{{dino.SubClaseId}}</td>
            <td>{{dino.descubrimiento}}</td>
        </tr>
    </tbody>
</table>
<form action="/dinosaurios?_method=DELETE" method="POST">
    <input name="id" type="number" value="{{dino.id}}" hidden required>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="/dinosaurios" class="btn btn-primary">Volver</a>
</form>