<div class="container">
  <form class="pt-3" action="/guias" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-secondary text-white" id="agregarGuiaModalLabel">
        <h1>Agregar Guía</h1>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6 pb-2">
              <label class="font-weight-bold" for="identificacion">Documento</label>
              <input type="number" class="form-empleado form-control" min="1000000" max="100000000" minlength="6"
                maxlength="50" name="identificacion" id="InputIdentificacion" placeholder="Ingrese su documento"
                required {{#if this}} value="{{this.tipo }}" {{/if}}>
              <small class="form-text-muted text-muted">Sólo números.</small><br>

              <label class="font-weight-bold" for="nombre">Nombre</label>
              <input type="text" class="form-empleado form-control" minlength="1" maxlength="50" name="nombre"
                id="InputNombre" placeholder="Ingrese Nombre" required {{#if this}}value="{{this.nombre}}" {{/if}}>
              <small class="form-text-muted text-muted">Mínimo 1 caracter. Máximo 50 caracteres.</small><br>

              <label class="font-weight-bold" for="apellido">Apellido</label>
              <input type="text" class="form-empleado form-control" minlength="1" maxlength="50" name="apellido"
                id="InputApellido" placeholder="Ingrese Apellido" required {{#if this}}value="{{this.apellido}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Mínimo 1 caracter. Máximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="direccion">Dirección</label>
              <input type="text" class="form-empleado form-control" minlength="5" maxlength="140" name="direccion"
                id="InputDireccion" placeholder="Ingrese Dirección" required {{#if this}}value="{{this.direccion}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Dirección completa. Mínimo 5 caracteres. Máximo 140
                caracteres.</small><br>

              <div class="row py-4 text-center mx-auto">
                <span class="font-weight-bold pt-1">
                  Horario Laboral:
                </span>
                <div class="pl-2" data-toggle="buttons">
                  <label class="btn btn-secondary form-check-label">
                    <input type="radio" name="horario_trabaja" value="Diurno" autocomplete="off" required>
                    Diurno
                  </label>
                  <label class="btn btn-secondary form-check-label">
                    <input type="radio" name="horario_trabaja" value="Nocturno" autocomplete="off">
                    Nocturno
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <label class="font-weight-bold" for="localidad">Localidad</label>
              <input type="text" class="form-empleado form-control" minlength="4" maxlength="50" name="localidad"
                id="InputLocalidad" placeholder="Ingrese Localidad." required {{#if this}}value="{{this.localidad}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Mínimo 4 caracteres. Máximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="email">Correo Electrónico</label>
              <input type="email" class="form-empleado form-control" minlength="6" maxlength="50" name="email"
                id="InputEmail" placeholder="Ingrese correo electrónico" required {{#if this}}value="{{this.email}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Mínimo 6 caracteres. Máximo 50 caracteres.</small><br>

              <label class="font-weight-bold" for="fechaNacimiento">Fecha Nacimiento</label>
              <input type="date" class="form-empleado form-control" name="fecha_nacimiento" min="1900-01-01"
                id="InputFechaNacimiento" required {{#if this}}value="{{this.fecha_nacimiento}}" {{/if}}>
              <small class="form-text-muted text-muted">Fecha de nacimiento de empleado</small><br>

              <label class="font-weight-bold" for="InputTelefono">Teléfono</label>
              <input type="tel" class="form-empleado form-control" minlength="6" maxlength="50" name="telefono"
                id="InputTelefono" placeholder="Ingrese Teléfono" required {{#if this}}value="{{this.telefono}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Mínimo 6 caracteres. Máximo 50 caracteres.</small><br>

              <div class="row py-4 text-center mx-auto">
                <span class="font-weight-bold pt-1">
                  Dias Laborales:
                </span>
                <div class="pl-2" data-toggle="buttons">
                  <label class="btn btn-secondary form-check-label">
                    <input type="radio" name="dias_trabaja" value="Normal" autocomplete="off" required>
                    Normal (Lun-Vie)
                  </label>
                  <label class="btn btn-secondary form-check-label">
                    <input type="radio" name="dias_trabaja" value="Franquero" autocomplete="off">
                    Franquero
                  </label>
                </div>
              </div>
              {{#if this}}<input name="id" type="number" value="{{this.id}}" hidden> {{/if}}
            </div>
          </div>


          <div class="row text-center pb-4">
            <label class="font-weight-bold pt-1 btn-block" for="idiomas">
              Idiomas:
            </label>
            <select class="form-control" name="idiomas" multiple required>
              {{#each idiomas }}
              <option value="{{ this.id }}">
                {{this.nombre}}
              </option>
              {{/each}}
            </select>
          </div>


          <!-- Botones de Agregar y Cancelar -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <a href="/guias" class="btn btn-danger btn-sm btn-block">Cancelar</a>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-success btn-sm btn-block">Agregar Guía</button>
              </div>
            </div>
          </div>
          <!--********************************-->


        </div>
      </div>
  </form>
</div>



<script>

  // setea la fecha actual


  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InputFechaNacimiento").setAttribute("max", hoy);
    $("#InputFechaNacimiento").attr("max", hoy);
  })

  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear() - 18;// Los empleados deben tener 18 años o más

    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;

    return [year, month, day].join('-');
  }



  $(document).ready(() => {

  });
</script>