
<form class="pt-3" action="/clientes" method="POST">
  <div class="container">
    
    <div class="row pb-3">
      <div class="col-4">
        <label class="btn btn-secondary form-check-label">
          <input type="radio" name="tipo" id="option1" value="Existe Persona" autocomplete="off" required> Existente
        </label>
      </div>

      <div class="col-8">
        <select class="form-control">
          {{#each clientes}}
            <option value="{{this.id}}">{{this.Persona.identificacion}} - {{this.Persona.nombre}} {{this.Persona.apellido}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    
    <div class="row bg-light pt-3">
      <div class="col-4 d-flex">
        <label class="btn btn-secondary form-check-label align-self-center">
          <input type="radio" name="tipo" id="option1" value="Nueva Persona" autocomplete="off" required> Nuevo
        </label>
      </div>
      <div class="col-8">
        {{> formCliente}}
      </div>
    </div>

    <div class="row">
      <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipo" id="option1" value="Particular" autocomplete="off" required> Particular
    </label>

    <label class="btn btn-secondary form-check-label">
        <input type="radio" name="tipo" id="option2" value="Institucional" autocomplete="off" > Institucional
    </label>
    </div>
    
    <div class="row">
      <button type="submit" class="btn btn-primary">Agregar Cliente!</button>
    </div>
  </div>
  
  
  {{#if err}}
  <div class="alert alert-danger" >
    {{err}}
  </div>
  {{/if}}

  <div id="div1">
    
  </div>

</form>