<div>
  <h1>Clientes <a href="/clientes/agregar" class="btn btn-success btn-primary" rel="noopener noreferrer">+</a></h1>
  <table class="table table-striped table-bordered">
    <thead>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Tipo</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th>Email</th>
      <th>Fecha de Nacimiento</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.Persona.identificacion}}</td>
        <td>{{this.Persona.nombre}}</td>
        <td>{{this.Persona.apellido}}</td>
        <td>{{this.tipo}}</td>
        <td>{{this.Persona.direccion}}</td>
        <td>{{this.Persona.localidad}}</td>
        <td>{{this.Persona.email}}</td>
        <td>{{this.Persona.fecha_nacimiento}}</td>
        <td>{{this.Persona.telefono}}</td>
        <!-- acciones aca -->
        <td>
          <a href="/clientes/editar/{{this.id}}"><span class="material-icons">edit</span></a>
          <!--editar-->
          <a href="/clientes/eliminar/{{this.id}}"><span style="color:red" class="material-icons">delete</span></a>
          {{!-- otras acciones mas --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  {{> pagination/footer paginationObj }}
</div>
