<div style="padding-top: 10px">
    <h1>Clientes  <a href="/clientes/agregar" class="btn btn-primary" rel="noopener noreferrer">+</a></h1><table class="table table-striped table-bordered" id="datatable">
        <table class="table table-striped table-bordered" id="datatable">
            <thead>
            <th scope="col">Documento</th>    
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Localidad</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </thead>
        
        {{#each results}}
                <tr>
                    <td>{{this.Persona.identificacion}}</td>
                    <td>{{this.Persona.nombre}}</td>
                    <td>{{this.Persona.apellido}}</td>
                    <td>{{this.tipo}}</td>
                    <td>{{this.Persona.direccion}}</td>
                    <td>{{this.Persona.localidad}}</td>
                    <td>{{this.Persona.email}}</td>
                    <td>{{this.Persona.fecha_nacimiento}}</td>
                    <td>{{this.Persona.telefono}}</td>
                    <!-- acciones aca -->
                    <td>
                        <a href="/clientes/editar?id={{this.id}}"><i class="far fa-edit"></i></a> <!--editar-->
                        <a href="/clientes/eliminar?id={{this.id}}"><i class="fas fa-minus-circle"></i></a>
                    {{!-- otras acciones mas --}}
                    </td>
                </tr>
        {{/each}}
        </table>
</div>

<!-- Large modal VER MAS TARDE NO OLVIDAR-->
