<div class="alert alert-danger">Seguro que queres borrar esto ?</div>
<div class="card mt-4">
    <div class="card-header text-center bg-dark text-white">
        <h1>Eliminar Cliente</h1>
    </div>
    <div class="card-body">
        <table style="table-layout: fixed; word-wrap: break-word;" class="table">
            <thead>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo</th>
                <th scope="col">Direccion</th>
                <th scope="col">Localidad</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col">Telefono</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{cliente.Persona.identificacion}}</td>
                    <td>{{cliente.Persona.nombre}}</td>
                    <td>{{cliente.Persona.apellido}}</td>
                    <td>{{cliente.tipo}}</td>
                    <td>{{cliente.Persona.direccion}}</td>
                    <td>{{cliente.Persona.localidad}}</td>
                    <td>{{cliente.Persona.email}}</td>
                    <td>{{cliente.Persona.fecha_nacimiento}}</td>
                    <td>{{cliente.Persona.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <form action="/clientes?_method=DELETE" method="POST" class="row justify-content-evenly">
            <input name="id" type="number" value="{{cliente.id}}" hidden required>
            <button type="submit" class="btn btn-danger col-6">Eliminar</button>
            <a href="/clientes" class="btn btn-secondary col-6">Cancelar</a>
        </form>
    </div>
</div>