<h1>Eliminar Cliente</h1>
<div class="alert alert-danger mt-4">Segure que queres borrar esto ?</div>
 <table class="table">
     <thead>
        <th scope="col">Documento</th>    
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Localidad</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Telefono</th>
     </thead>
    <tbody>
        <tr>
            <th>{{cliente.Persona.identificacion}}</th>    
            <th>{{cliente.Persona.nombre}}</th>
            <th>{{cliente.Persona.apellido}}</th>
            <th>{{cliente.tipo}}</th>
            <th>{{cliente.Persona.direccion}}</th>
            <th>{{cliente.Persona.localidad}}</th>
            <th>{{cliente.Persona.email}}</th>
            <th>{{cliente.Persona.fecha_nacimiento}}</th>
            <th>{{cliente.Persona.telefono}}</th>
        </tr>
    </tbody>
 </table>

<form action="/clientes?_method=DELETE" method="POST" >
<input name="id" type="number" value="{{cliente.id}}" hidden required>
<button type="submit" class="btn btn-danger">Eliminar</button>
<a href="/clientes" class="btn btn-primary">Nah!</a>
</form>
