<div class="container">
  <form class="pt-3" action="/empleados?_method=PUT" method="POST">
    <div class="card mt-4">
      <div class="card-header text-center bg-dark text-white" id="agregarEmpleadoModalLabel">
        <h1>Editar Empleado</h1>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6 pb-2">
              <label class="font-weight-bold" for="identificacion">Documento</label>
              <input type="text" class="form-empleado form-control" minlength="6" maxlength="50" name="identificacion" id="InputIdentificacion"
                placeholder="Ingrese su documento" required {{#if empleado}} value="{{empleado.Persona.identificacion}}"
                {{/if}}>
              <small class="form-text-muted text-muted">Minimo 6 caracteres. Maximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="nombre">Nombre</label>
              <input type="text" class="form-empleado form-control" minlength="1" maxlength="50" name="nombre" id="InputNombre" placeholder="Ingrese Nombre"
                required {{#if empleado}} value="{{empleado.Persona.nombre}}" {{/if}}>
              <small class="form-text-muted text-muted">Minimo 1 caracter. Maximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="apellido">Apellido</label>
              <input type="text" class="form-empleado form-control" minlength="1" maxlength="50"  name="apellido" id="InputApellido" placeholder="Ingrese Apellido"
                required {{#if empleado}} value="{{empleado.Persona.apellido}}" {{/if}}>
              <small class="form-text-muted text-muted">Minimo 1 caracter. Maximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="direccion">Direccion</label>
              <input type="text" class="form-empleado form-control" minlength="5" maxlength="140" name="direccion" id="InputDireccion" placeholder="Ingrese Direccion"
                required {{#if empleado}} value="{{empleado.Persona.direccion}}" {{/if}}>
              <small class="form-text-muted text-muted">Direccion completa. Minimo 5 caracteres. Maximo 140 caracteres</small><br>

            </div>
            <div class="col-6">
              <label class="font-weight-bold" for="localidad">Localidad</label>
              <input type="text" class="form-empleado form-control" minlength="4" maxlength="50" name="localidad" id="InputLocalidad" placeholder="Ingrese Localidad"
                required {{#if empleado}} value="{{empleado.Persona.localidad}}" {{/if}}>
              <small class="form-text-muted text-muted">Minimo 4 caracteres. Maximo 50 caracteres</small><br>

              <label class="font-weight-bold" for="email">Email</label>
              <input type="email" class="form-empleado form-control" minlength="6" maxlength="50"  name="email" id="InputEmail" placeholder="Ingrese Email"
                required {{#if empleado}} value="{{empleado.Persona.email}}" {{/if}}>
              <small class="form-text-muted text-muted">Minimo 6 caracteres. Maximo 50 caracteres</small><br>
                
              <label class="font-weight-bold" for="fechaNacimiento">Fecha de Nacimiento</label>
              <input type="date" class="form-empleado form-control" name="fecha_nacimiento" id="InputFechaNacimiento"
                required {{#if empleado}} value="{{empleado.Persona.fecha_nacimiento}}" {{/if}}>
              <small class="form-text-muted text-muted">Fecha de nacimiento de empleado</small><br>
              
              <label class="font-weight-bold" for="InputTelefono">Telefono</label>
              <input type="tel" class="form-empleado form-control" minlength="6" maxlength="50" name="telefono" placeholder="Ingrese Telefono" required {{#if empleado}} value="{{empleado.Persona.telefono}}" {{/if}}>
              <small class="form-text-muted text-muted">Minimo 6 caracteres. Maximo 50 caracteres</small><br>

              {{#if empleado}}<input name="idEmpleado" type="number" value="{{empleado.id}}" hidden> {{/if}}
              {{#if empleado}}<input name="idPersona" type="number" value="{{empleado.Persona.id}}" hidden> {{/if}}
              </label>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary form-control">Guardar cambios</button>
          </div>
        </div>
      </div>
  </form>
</div>

<script>

  // setea la fecha actual


  $(document).ready(function () {
    var hoy = formatDate(new Date());
    document.getElementById("InputFechaNacimiento").setAttribute("max", hoy);
    $("#InputFechaNacimiento").attr("max", hoy);
  })

  function formatDate(date) {
    var d = new Date(date),
      month = '' + (d.getMonth() + 1),
      day = '' + d.getDate(),
      year = d.getFullYear() - 18;// Los empleados deben tener 18 años o más

    if (month.length < 2)
      month = '0' + month;
    if (day.length < 2)
      day = '0' + day;

    return [year, month, day].join('-');
  }
</script>