<h1>Eliminar Empleado</h1>
<div class="alert alert-danger">¿Seguro que desea borrar esto?</div>
 <table class="table">
     <thead>
        <th scope="col">Documento</th>    
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dirección</th>
        <th scope="col">Localidad</th>
        <th scope="col">Correo Electrónico</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Teléfono</th>
     </thead>
    <tbody>
        <tr>
            <td>{{empleado.Persona.identificacion}}</td>    
            <td>{{empleado.Persona.nombre}}</td>
            <td>{{empleado.Persona.apellido}}</td>
            <td>{{empleado.Persona.direccion}}</td>
            <td>{{empleado.Persona.localidad}}</td>
            <td>{{empleado.Persona.email}}</td>
            <td>{{empleado.Persona.fecha_nacimiento}}</td>
            <td>{{empleado.Persona.telefono}}</td>
        </tr>
    </tbody>
 </table>

<!---Botones de Eliminar y Cancelar-->
<form action="/empleados?_method=DELETE" method="POST" >
<input name="id" type="number" value="{{empleado.id}}" hidden required>
<button type="submit" class="btn btn-danger">Eliminar</button>
<a href="/empleados" class="btn btn-primary">No</a>
<!---******************************-->

</form>