<div style="padding-top: 10px">
  <h1 class="bg-secondary text-center text-white rounded p-2">
    Empleados 
    <a href="/empleados/agregar" class="btn  btn-success btn-primary border border-light" rel="noopener noreferrer">
      +
    </a>
  </h1>
  <table class="table table-striped table-bordered" id="empleados" >
    <thead>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Direccion</th>
      <th scope="col">Localidad</th>
      <th scope="col">Email</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.Persona.identificacion}}</td>
        <td>{{this.Persona.nombre}}</td>
        <td>{{this.Persona.apellido}}</td>
        <td>{{this.Persona.direccion}}</td>
        <td>{{this.Persona.localidad}}</td>
        <td>{{this.Persona.email}}</td>
        <td>{{this.Persona.fecha_nacimiento}}</td>
        <td>{{this.Persona.telefono}}</td>
        <!-- acciones aca -->
        <td>
          <a href="/empleados/editar/{{this.id}}">
            <span class="material-icons">edit</span>
          </a>
          <!--editar-->
          <a href="/empleados/eliminar/{{this.id}}">
            <span style="color:red" class="material-icons">delete</span>
          </a>
          {{!-- otras acciones mas --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
  $('#empleados').DataTable({
    searching: true,
    ordering:  true,
        language: {
        processing:"Buscando...",
        search:"Buscar:",
        lengthMenu:"Mostrando _MENU_",
        info:"Mostrando _START_ de _END_ de un total de _TOTAL_ ",
        infoEmpty:"Mostrando 0 de 0 de un total de 0 ",
        infoFiltered: "(de un total de _MAX_)",
        infoPostFix: "",
        loadingRecords:"Cargando...",
        zeroRecords:"No se ha encontrado elementos con ese filtro",
        emptyTable:"No hay elementos :(",
        paginate:{
            first:"Primero",
            previous:"Anterior",
            next:"Siguiente",
            last:"Último"
        },
        aria: {
            sortAscending:  ": Ordenar ascendente",
            sortDescending: ": Ordenar descendente"
        }
    }
  });
});
</script>